<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <ion-button fill="clear" color="danger" (click)="logout()">Salir</ion-button>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button [routerLink]="['/citas']">
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <ion-label>Citas</ion-label>
    </ion-item>
    <ion-item button [routerLink]="['/servicios']">
      <ion-icon slot="start" name="briefcase-outline"></ion-icon>
      <ion-label>Servicios</ion-label>
    </ion-item>
    <ion-item button [routerLink]="['/clientes']">
      <ion-icon slot="start" name="people-outline"></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-item>
    <ion-item button [routerLink]="['/notificaciones']">
      <ion-icon slot="start" name="notifications-outline"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-item>
  </ion-list>
</ion-content>