<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ isRegistering ? 'Registrar Usuario' : 'Iniciar Sesión' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ isRegistering ? 'Registrar Usuario' : 'Iniciar Sesión' }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Formulario de login -->
  <div *ngIf="!isRegistering">
    <ion-item>
      <ion-label position="stacked">Email: </ion-label>
      <ion-input type="email" [(ngModel)]="txtEmail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña: </ion-label>
      <ion-input type="password" [(ngModel)]="txtPassword"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Recordar Contraseña</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="rememberMe"></ion-checkbox>
    </ion-item>

    <ion-button expand="full" (click)="login()">Iniciar Sesión</ion-button>
    <ion-button expand="full" fill="outline" (click)="toggleView()">Registrar Usuario</ion-button>
  </div>

  <!-- Formulario de registro -->
  <div *ngIf="isRegistering">
    <ion-item>
      <ion-label position="stacked">Nombre: </ion-label>
      <ion-input type="text" [(ngModel)]="txtNombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email: </ion-label>
      <ion-input type="email" [(ngModel)]="txtEmail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña: </ion-label>
      <ion-input type="password" [(ngModel)]="txtPassword"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Rol: </ion-label>
      <ion-select [(ngModel)]="txtRol">
        <ion-select-option value="Administrador">Administrador</ion-select-option>
        <ion-select-option value="Estilista">Estilista</ion-select-option>
        <ion-select-option value="Recepcionista">Recepcionista</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" (click)="guardarUsuario()">Registrar</ion-button>
    <ion-button expand="full" fill="outline" color="danger" (click)="toggleView()">Cancelar</ion-button>
  </div>
</ion-content>
